<tokens>
    <token>
        <type>hq</type>
    </token>
    <token>
        <type>creature</type>
        <life>2</life>
        <priority>2</priority>
        <additional_action>0</additional_action>
        <movable>0</movable>
        <attack>
            <dir_id>1</dir_id>
            <value>2</value>
        </attack>
        <shield>
            <dir_id>1</dir_id>
            <value>1</value>
        </shield>
    </token>
    <token>
        <type>action</type>
        <action_type>battle</action_type>
    </token>
    <token>
        <type>module</type>
        <module_type>life</module_type>
        <directions>
            <dir_id>1</dir_id>
            <dir_id>2</dir_id>
        </directions>
    </token>
    <token>
        <type>module</type>
        <module_type>attack</module_type>
        <directions>
            <dir_id>1</dir_id>
        </directions>
        <value>2</value>
    </token>
        <token>
        <type>module</type>
        <module_type>priority</module_type>
        <directions>
            <dir_id>1</dir_id>
        </directions>
    </token>
    <token>
        <type>module</type>
        <module_type>additional_action</module_type>
        <directions>
            <dir_id>1</dir_id>
        </directions>
    </token>
</tokens>