/**
 * \file styles.css
 * \brief application styles
 */

.hidden {
    display: none;
}

.error {
    font-size: 2em;
    color:red;
}

.info {
    font-size: 2em;
    color:green;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
	font-size: 100.01%;

    background: url('/pict/bright-wood.jpg');
}

#icons_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#icons_ul > li {
	float:left;
    padding: 5px;
}

.popup{
    background-color: blanchedalmond;
    position: fixed;
    top: 30%;
    right: 40%;
    width: 20%;
    margin: 0px auto;
    padding: 16px;
    border-radius: 15px;
    text-align: center;
    z-index: 100;
}

.hex {
    fill: #2F3233;
    stroke: black;
    opacity: 0.6;
}

.token-disactive {
    fill: #DE2F14;
    stroke: black;
    opacity: 0.6;
}

.token-active {
    fill: #4DE639;
    stroke: black;
    opacity: 0.6;
}

.token-used {
    fill: #39ACE6;
    stroke: black;
    opacity: 0.6;
}

.hex-map {
    
}

.hex-active {
    fill: #36BA1C;
    stroke: black;
    opacity: 0.6;   
}

.main {
    width: 100%;
    height: 100%;

    display: block;
    margin: auto;
}

.middle {
    position: fixed;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
}

.left {
    position: fixed;
    top: 50%;
    left: 10%;
  
    transform: translate(-50%, -50%);  
}

.right {
    transform-origin: 50% 50%;
    transform: translate(80px,0px);
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: translateX(8 0px); /* Safari and Chrome */
    -moz-transform: translate(80px,0px); /* Firefox */
}

.main-board {
    background: url('/pict/dark-wood.jpg')
}

.draggable {
    cursor: pointer;
}

.tokenClass-red {
    fill: #EB1717;
    stroke: black;
}

.tokenClass-green {
    fill: #00B52A;
    stroke: black;
}

.tokenClass-blue {
    fill: #1069E6;
    stroke: black;
}

.tokenClass-yellow {
    fill: #EBD809;
    stroke: black;
}