/**
 * \file styles.css
 * \brief application styles
 */
h1 {
    text-align: center;
}

.hidden {
    display: none;
}

.error {
    font-size: 2em;
    color:red;
}

.info {
    font-size: 2em;
    color:green;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
	font-size: 100.01%;

    background: url('/pict/bright-wood.jpg');
}

svg {
    overflow: scroll;
}

#icons_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#icons_ul > li {
	float:left;
    padding: 5px;
}

.hex {
    
}

.token-disactive {
    fill: #DE2F14;
    stroke: black;
    opacity: 0.6;
}

.token-active {
    fill: #4DE639;
    stroke: black;
    opacity: 0.6;
}

.token-used {
    fill: #39ACE6;
    stroke: black;
    opacity: 0.6;
}

.hex-map {
    
}

.hex-active {
    fill: #36BA1C;
    stroke: black;
    opacity: 0.6;   
}

.main {
    width: 100%;
    height: 100%;

    display: block;
    margin: auto;
}

.middle {
    position: fixed;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
}

.left {
    position: fixed;
    top: 50%;
    left: 10%;
  
    transform: translate(-50%, -50%);  
}

.right {
    transform-origin: 50% 50%;
    transform: translate(80px,0px);
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: translateX(8 0px); /* Safari and Chrome */
    -moz-transform: translate(80px,0px); /* Firefox */
}

.user-overlay {
    fill: #BAC7CC;
    opacity: 0.4;
}

.main-board {
    background: url('/pict/dark-wood.jpg')
}

.draggable {
    cursor: pointer;
}

.board {
    stroke: black;
}

.board-red {
    fill: #EB1717;
}

.board-green {
    fill: #00B52A;
}

.board-blue {
    fill: #1069E6;
}

.board-yellow {
    fill: #EBD809;
}

.token {
    stroke: black;
}

.token-red {
    /*fill: #EB1717;*/
}

.token-green {
    /*fill: #00B52A;*/
}

.token-blue {
    /*fill: #1069E6;*/
}

.token-yellow {
   /* fill: #EBD809;*/
}

.token-selected {
    stroke: #33E842;
    stroke-width: 10;
}

.hex-empty {
    fill: #2F3233;
    stroke: black;
    opacity: 0.6;
}

.token-to-move {
    stroke-width: 10;
    stroke: #F28911;
    cursor: pointer;
}

.token-to-move:hover {
    stroke: green;
}

.token-opponent {
    stroke-width: 10;
    stroke: #FF00CC;
    cursor: pointer;
}

.token-opponent:hover {
    stroke: green;
}

.hex-move-destination {
    fill: #F28911;
    cursor: pointer;
}

.hex-move-destination:hover {
    fill: green;
}

.hex-occupied {
    opacity: 1;
}

.board-button-background {
    opacity: 0.6;
}

.board-button-background-active {
    fill: #00B52A;
    opacity: 0.6;
}

.board-button-background-disabled {
    fill: #898C8C;
    opacity: 0.9;
}

.board-button {
    stroke: black;
    stroke-width: 2;
}

.rotation-button {

}

.action-button {

}

.board-button {
    stroke: black;
    stroke-width: 2;
}

.end-turn-background {
    fill: #523B24;
    opacity: 0.6;
    stroke: black;
    stroke-width: 2;
}

.end-turn-background-active {
    fill: #3DD451;
    opacity: 0.6;
    stroke: black;
    stroke-width: 2;
}

.end-turn-background-disabled {
    fill: #898C8C;
    opacity: 0.9;
    stroke: black;
    stroke-width: 2;
}

.board-button-active {
    stroke: #33E842;
    stroke-width: 8;    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(94,106,110,0.8);
    z-index: 5;
    width: 100%;
    height: 100%;
    
}

.popup {
    height: 380px;
    width: 340px;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -250px;
    position: absolute;
    z-index: 10;
    border: 1px solid #AD7D15;
    border-radius: 10px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#E0C6A2, #BD8E4B); /* Safari */
    background: -o-radial-gradient(#E0C6A2, #BD8E4B); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#E0C6A2, #BD8E4B); /* Firefox 3.6 to 15 */
    background: radial-gradient(#E0C6A2, #BD8E4B); /* Standard syntax */
}

.board-active {
    fill-opacity: 0.4;
    fill: #1EE642;
}

.board-empty {
    fill-opacity: 0.4;
}

.button {
    height:30px; 
    width:150px; 
    margin: -15px -100px; 
    position:relative;
    top:50%; 
    left:50%;
}

.player-button-red {
    -moz-box-shadow:inset 0px 1px 0px 0px #ff6161;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ff6161;
    box-shadow:inset 0px 1px 0px 0px #ff6161;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb7f7f), color-stop(1, #a1211d));
    background:-moz-linear-gradient(top, #eb7f7f 5%, #a1211d 100%);
    background:-webkit-linear-gradient(top, #eb7f7f 5%, #a1211d 100%);
    background:-o-linear-gradient(top, #eb7f7f 5%, #a1211d 100%);
    background:-ms-linear-gradient(top, #eb7f7f 5%, #a1211d 100%);
    background:linear-gradient(to bottom, #eb7f7f 5%, #a1211d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7f7f', endColorstr='#a1211d',GradientType=0);
    background-color:#eb7f7f;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eb3434;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e07e7e;
}
.player-button-red:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a1211d), color-stop(1, #eb7f7f));
    background:-moz-linear-gradient(top, #a1211d 5%, #eb7f7f 100%);
    background:-webkit-linear-gradient(top, #a1211d 5%, #eb7f7f 100%);
    background:-o-linear-gradient(top, #a1211d 5%, #eb7f7f 100%);
    background:-ms-linear-gradient(top, #a1211d 5%, #eb7f7f 100%);
    background:linear-gradient(to bottom, #a1211d 5%, #eb7f7f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1211d', endColorstr='#eb7f7f',GradientType=0);
    background-color:#a1211d;
}
.player-button-red:active {
    position:relative;
    top:26px;
}

.player-button-green {
    -moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
    -webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
    box-shadow:inset 0px 1px 0px 0px #3dc21b;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #16cc47), color-stop(1, #3b910d));
    background:-moz-linear-gradient(top, #16cc47 5%, #3b910d 100%);
    background:-webkit-linear-gradient(top, #16cc47 5%, #3b910d 100%);
    background:-o-linear-gradient(top, #16cc47 5%, #3b910d 100%);
    background:-ms-linear-gradient(top, #16cc47 5%, #3b910d 100%);
    background:linear-gradient(to bottom, #16cc47 5%, #3b910d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16cc47', endColorstr='#3b910d',GradientType=0);
    background-color:#16cc47;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.player-button-yellow {
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}

.player-button-blue {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.player-button-blue:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}
.player-button-blue:active {
    position:relative;
    top:26px;
}

.player-button-disabled {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.validation {
    color: red;
    margin-left: 45px;
}

.button-end-turn {
    /*fill: purple;
    opacity: 0.6;*/
}

.popup-active {
    display: block;
}

.popup-disabled {
    display: none;
}

.battle-popup {
    height: 80px;
    width: 340px;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -250px;
    position: absolute;
    z-index: 10;
    border: 1px solid #AD7D15;
    border-radius: 10px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#E0C6A2, #BD8E4B); /* Safari */
    background: -o-radial-gradient(#E0C6A2, #BD8E4B); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#E0C6A2, #BD8E4B); /* Firefox 3.6 to 15 */
    background: radial-gradient(#E0C6A2, #BD8E4B); /* Standard syntax */
}

.end-popup {
    height: 240px;
    width: 340px;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -250px;
    position: absolute;
    z-index: 10;
    border: 1px solid #AD7D15;
    border-radius: 10px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#E0C6A2, #BD8E4B); /* Safari */
    background: -o-radial-gradient(#E0C6A2, #BD8E4B); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#E0C6A2, #BD8E4B); /* Firefox 3.6 to 15 */
    background: radial-gradient(#E0C6A2, #BD8E4B); /* Standard syntax */
}

.winner {
    color: red;
}