/**
 * \file styles.css
 * \brief application styles
 */

.hidden {
    display: none;
}

.error {
    font-size: 2em;
    color:red;
}

.info {
    font-size: 2em;
    color:green;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
	font-size: 100.01%;
}

#icons_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#icons_ul > li {
	float:left;
    padding: 5px;
}

.popup{
    background-color: blanchedalmond;
    position: fixed;
    top: 30%;
    right: 40%;
    width: 20%;
    margin: 0px auto;
    padding: 16px;
    border-radius: 15px;
    text-align: center;
}





.hex {
    background-color: #e6b3ff;
}