<g ng-attr-transform="translate({{x}}, {{y}})" class="user">
   <rect ng-attr-width="{{sizeBase*8}}" ng-attr-height="{{sizeBase*2}}" ng-class="boardClassName"/>

   <hex corners="corners" ng-repeat="corners in cornersSet" draggable="draggable" dropable="dropable" ></hex>

   <rect ng-attr-y="{{sizeBase*2}}" ng-attr-width="{{sizeBase*3}}" ng-attr-height="{{sizeBase/2}}" fill-opacity="0.4" ng-class="loginClassName">
   </rect>
   <text ng-attr-y="{{sizeBase*2.4}}" ng-attr-x="{{sizeBase/4}}" font-family="Verdana" font-size="35" fill="black"> {{ player.name }} </text>

   <rect ng-attr-y="{{sizeBase*2}}" ng-attr-width="{{sizeBase*0.8}}" ng-attr-x="{{sizeBase*3.5}}" ng-attr-height="{{sizeBase/2}}" fill-opacity="0.4" ng-class="loginClassName">
   </rect>

   <text ng-attr-y="{{sizeBase*2.4}}" ng-attr-x="{{sizeBase*3.7}}" font-family="Verdana" font-size="35" fill="black"> {{ player.life }} </text>

   <rect ng-attr-y="{{sizeBase*2}}" ng-attr-x="{{sizeBase*4.8}}" ng-attr-width="{{sizeBase*0.8}}" ng-attr-height="{{sizeBase/2}}" fill-opacity="0.4" ng-class="loginClassName">
   </rect>

   <text ng-attr-y="{{sizeBase*2.4}}" ng-attr-x="{{sizeBase*5}}" font-family="Verdana" font-size="35" fill="black"> {{ player.tokensCount }} </text>

	<rect ng-attr-width="{{sizeBase*8}}" ng-attr-height="{{sizeBase*2}}" class="user-overlay" style="display: none;"/>   
</g>