<div class="main" ng-controller="mainController">
    <svg id="grid-axial" class="middle"
    ng-attr-width="{{hexSize*18}}" 
    ng-attr-height="{{hexSize*12}}">

    <defs>
      <pattern id="main-board-img" patternUnits="userSpaceOnUse" ng-attr-width="{{hexSize*9}}" ng-attr-height="{{hexSize*9}}" >
        <image xlink:href="/pict/dark-wood.jpg" x="0" y="0" ng-attr-width="{{hexSize*9}}" ng-attr-height="{{hexSize*9}}" />
      </pattern>
      <pattern id="user-board-img" patternUnits="userSpaceOnUse" ng-attr-width="{{hexSize*8}}" ng-attr-height="{{hexSize*4}}" >
        <image xlink:href="/pict/cracked-wood.jpg" x="0" y="0" ng-attr-width="{{hexSize*8}}" ng-attr-height="{{hexSize*4}}" />
      </pattern>
      <pattern id="right-arrow-img" patternUnits="userSpaceOnUse" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" x="75" y="25">
        <image xlink:href="/pict/rotateRight.png" x="0" y="0" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" />
      </pattern>
      <pattern id="left-arrow-img" patternUnits="userSpaceOnUse" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" x="75" y="-25">
        <image xlink:href="/pict/rotateLeft.png" x="0" y="0" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" />
      </pattern>
       <pattern id="action-button-img" patternUnits="userSpaceOnUse" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" x="75" y="25">
        <image xlink:href="/pict/addTokenBtn.png" x="0" y="0" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" />
      </pattern>
       <pattern id="drop-button-img" patternUnits="userSpaceOnUse" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" x="75" y="-25">
        <image xlink:href="/pict/throwTokenBtn.png" x="0" y="0" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" />
      </pattern>
      <pattern id="end-turn-button-img" patternUnits="userSpaceOnUse" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" x="36" y="25">
        <image xlink:href="/pict/nextPlayerBtn.png" x="0" y="0" ng-attr-width="{{hexSize*1.5}}" ng-attr-height="{{hexSize*1.5}}" />
      </pattern>
      <!-- token images -->
      <!-- blue -->
      <pattern id="bl_hq" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_hq.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_cre_01" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_cre_01.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_cre_02" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_cre_02.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_cre_03" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_cre_03.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_cre_04" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_cre_04.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_cre_05" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_cre_05.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_cre_06" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_cre_06.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_mod_attack" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_mod_attack.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_mod_attack2" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_mod_attack2.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_mod_life" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_mod_life.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_mod_priority" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_mod_priority.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_act_move" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_act_move.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="bl_act_battle" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/bl_act_battle.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <!-- green -->
      <pattern id="gr_hq" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_hq.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_cre_01" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_cre_01.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_cre_02" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_cre_02.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_cre_03" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_cre_03.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_cre_04" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_cre_04.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_cre_05" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_cre_05.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_cre_06" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_cre_06.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_mod_attack" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_mod_attack.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_mod_life" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_mod_life.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_mod_priority" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_mod_priority.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_act_move" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_act_move.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="gr_act_battle" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/gr_act_battle.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <!-- red -->
      <pattern id="rd_hq" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_hq.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_01" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_01.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_02" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_02.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_03" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_03.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_04" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_04.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_05" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_05.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_06" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_06.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_07" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_07.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_08" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_08.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_09" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_09.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_cre_10" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_cre_10.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_mod_attack" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_mod_attack.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_mod_additional" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_mod_additional.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_mod_life" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_mod_life.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_mod_priority" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_mod_priority.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_act_move" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_act_move.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_act_battle" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_act_battle.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="rd_act_push" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/rd_act_push.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <!-- yellow -->
      <pattern id="yl_hq" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_hq.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_cre_01" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_cre_01.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_cre_02" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_cre_02.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_cre_03" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_cre_03.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_cre_04" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_cre_04.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_cre_05" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_cre_05.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_cre_06" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_cre_06.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_cre_07" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_cre_07.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_cre_08" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_cre_08.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_mod_attack" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_mod_attack.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_mod_attack2" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_mod_attack2.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_mod_attack3" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_mod_attack3.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_mod_life" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_mod_life.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_mod_priority" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_mod_priority.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_act_move" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_act_move.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_act_battle" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_act_battle.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
      <pattern id="yl_act_push" patternUnits="objectBoundingBox" width="1" height="1">
        <image xlink:href="/pict/tokens/yl_act_push.png" x="0" y="0" ng-attr-width="{{hexSize*2}}" ng-attr-height="{{hexSize*1.732051}}" />
      </pattern>
    </defs>
        <g ng-controller="hexMapController">
          <hex-map class="hex-map" hex-count="mapSize" class="middle" size="hexSize"></hex-map> 
        </g>
        <g ng-controller="tableHexController">
          <table-hex hex-size="hexSize"></table-hex> 
        </g>
        <g ng-attr-transform="translate(0, {{hexSize*9}})" ng-controller="operationBoardController">
        
           <operation-board hex-size="hexSize"></operation-board>
        </g>

    </svg>
    <div ng-controller="battleController">
      <battle>
      </battle>
    </div>
    <div ng-controller="endGameController">
      <end-game>
      </end-game>
    </div>
</div>

<div ng-controller="popupController">
  <popup>
  </popup> 
</div>
<div class="overlay" id="main-overlay">
</div>
