<div class="popup">
  	<h1>Neuroshima HEX</h1>
  	<div style="margin-left: 60px">
  	Login: <input type="text" name="lname" id="login-input"><br>
  	<label class="validation" name="validation"></label>
  	</div>
  	<div style="height: 50px" >
  		<a class="button player-button-red"></a>
  	</div>
  	<div style="height: 50px">
  		<a class="button player-button-green"></a>
  	</div>
  	<div style="height: 50px">
	  	<a class="button player-button-yellow"></a>
	</div>
  	<div style="height: 50px">
  		<a class="button player-button-blue"></a>
  	</div>
</div>