<div class="popup">
  	<h1>Neuroshima HEX</h1>
  	<div style="margin-left: 60px">
  	Login: <input type="text" name="lname" id="login-input"><br>
  	<label class="validation">Niepoprawny login</label>
  	</div>
  	<div style="height: 50px" >
  		<a class="button player-button-red">Czerwony (graj)</a>
  	</div>
  	<div style="height: 50px">
  		<a class="button player-button-green">Zielony</a>
  	</div>
  	<div style="height: 50px">
	  	<a class="button player-button-yellow">Żółty</a>
	</div>
  	<div style="height: 50px">
  		<a class="button player-button-blue">Niebieski</a>
  	</div>
</div>